<?php declare(strict_types=1);

namespace {{namespace}};

use JsonSerializable;
use Symfony\Component\HttpFoundation\Request;

readonly class {{className}} implements JsonSerializable
{

    public function __construct({{#properties}}private {{type}} ${{name}}{{^last}}, {{/last}}{{/properties}})
    {
    }

    {{#properties}}
    public function get{{getterName}}(): {{type}}
    {
        return $this->{{name}};
    }
    {{/properties}}

    public static function fromRequest(Request $request): self
    {
        return new self(
            /** @phpstan-ignore-next-line */
            {{#properties}}$request->get('{{name}}'), {{/properties}}
        );
    }

    public function jsonSerialize(): mixed
    {
        return [
            {{#properties}}
            '{{name}}' => $this->get{{getterName}}(),
            {{/properties}}
        ];
    }
}
